<% page_title "Managing #{@server.name}" %>

<%= turbo_stream_from @server, "console" %>

<div class="d-md-flex justify-content-md-between mb-4">
  <div class="mb-4">
    <h1><%= @server.name %></h1>
    <div class="d-flex flex-wrap align-items-center mt-3 mb-n4">
      <span class="align-items-center text-sm text-muted me-2"><%= @server.ssh_username %></span>
      <span class="align-items-center text-sm text-muted me-2"> • </span>
      <span class="align-items-center text-sm text-muted me-2"><%= @server.ip %></span>
      <span class="align-items-center text-sm text-muted me-2"> • </span>
      <span class="align-items-center text-sm text-muted me-2"><%= @server.directory %></span>
      <span class="align-items-center text-sm text-muted me-2"> • </span>
      <span class="align-items-center text-sm text-muted me-2"><%= "RCON: #{@server.rcon_port}, Game: #{@server.game_port}, Query: #{@server.query_port}" %></span>
    </div>
  </div>
  <div class="btn-row align-items-center d-none">
    <a class="btn btn-secondary" href="#">Edit page</a>
    <a class="btn btn-primary" href="#">New item</a>
  </div>
</div>

<div class="card">
  <button class="btn btn-primary btn-block" data-behavior="fetch-logs">Fetch Logs</button>
  <div class="card-body text-muted" data-behavior="logs-response" style="min-height: 200px; max-height: 400px; overflow-y: auto;">
    <div id="server-logs">
    </div>
  </div>

  <div class="card-body" data-behavior="rcon-response" data-server="<%= @server.id %>" data-controller="admin--server-console">
  </div>
  <hr>
  <div class="card-footer">
    <div class="d-inline-flex">
      <div class="" style="width: 75%;">
        <input type="text" class="form-control" placeholder="say hello" data-behavior="command-input"/>
      </div>
      <div class="w-full">
        <button type="submit" class="btn btn-block btn-primary" data-behavior="command-send">Send</button>
      </div>
  </div>
</div>
