<% page_title "Managing #{@server.name}" %>

<div class="d-md-flex justify-content-md-between mb-6">
  <div class="mb-6 mb-md-4">
    <h1><%= @server.name %></h1>
    <div class="d-flex flex-wrap align-items-center mt-3 mb-n4">
      <span class="align-items-center text-sm text-muted me-2"><%= @server.ssh_username %></span>
      <span class="align-items-center text-sm text-muted me-2"> • </span>
      <span class="align-items-center text-sm text-muted me-2"><%= @server.directory %></span>
      <span class="align-items-center text-sm text-muted me-2"> • </span>
      <span class="align-items-center text-sm text-muted me-2"><%= "RCON: #{@server.rcon_port}, Game: #{@server.game_port}, Query: #{@server.query_port}" %></span>
    </div>
  </div>
  <div class="btn-row align-items-center d-none">
    <a class="btn btn-secondary" href="#">Edit page</a>
    <a class="btn btn-primary" href="#">New item</a>
  </div>
</div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="card">
          <button class="btn btn-primary btn-block" data-behavior="fetch-logs">Fetch Logs</button>
          <div class="card-body" data-behavior="logs-response" style="color: grey; min-height: 200px; max-height: 400px; overflow-y: auto;">
            <div class="logs">
            </div>
          </div>

          <div class="card-body" data-behavior="rcon-response" data-server="<%= @server.id %>">
          </div>
          <hr>
          <div class="row">
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="say hello" data-behavior="command-input"/>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-block btn-primary" data-behavior="command-send">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
