<tr>
  <td>
    <%= link_to user.id, admin_user_path(user.id) %>
  </td>
  <td>
    <%= image_tag user.decorate.minecraft_avatar,
      :height => "48px",
      :class => "tag-tooltip",
      data: {
        'data-bs-toggle' => "tooltip",
        'data-placement' => "left",
        title: user.dashed_uuid
      }  %>
  </td>
  <td><%= link_to user.username, user_path(user.username) %></td>
  <td><%= link_to user.email, admin_user_path(user.id) %> </td>
  <td><%= user.last_sign_in_ip %></td>
  <td><%= local_time_ago(user.last_sign_in_at) if user.last_sign_in_at.present? %> </td>
  <td><% if user.admin? %><span class="badge bg-danger">Admin</span> <% else %> <span class="badge bg-success">User</span> <% end %></td>
  <td><%= user.dashed_uuid %></td>
  <td>
    <% if policy([:admin, user]).masqueradeable? %>
        <div class="d-inline-block align-middle">
          <%= link_to(masquerade_path(user),
            class: "btn btn-link btn-sm icon-15 text-primary",
            title: "Login as this user",
            data: {
              toggle: "tooltip",
              placement: "top-right"
            }
          ) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
            </svg>
          <% end %>
        </div>
      <% end %>
  </td>
</tr>
